@font-face {
  font-family: 'PressStart2P';
  src: url('/assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'PressStart2P', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;

}


.container {
  position: relative;
}

.tabla-jugadores {
  font-size: 0.7rem;
  color: white;
  position: absolute;
  width: 250px;
  right: calc(0px + 10rem);
  top: calc(0px + 3rem);
}

 table thead tr th {
  text-align: start;
  padding-bottom: 10px;

}

.tabla__texto {
  text-transform: uppercase;
  padding: 2rem 0;
}

.hidden {
  display: none;
}

.input{
  position: absolute;
  z-index: 10;
  border: 2px solid white;
  /* posicionar al centro*/
  left: 50%;
  bottom: calc(0px + 2rem);  
  transform: translate(-50%, -50%);

  width: 550px;
  padding: 1rem 2rem;
  background: transparent;

  font-size: 2rem;
  font-family: 'PressStart2P', sans-serif;
  color: white;
  text-transform: uppercase;


}
